
# Created by https://www.gitignore.io/api/intellij

### Intellij ###
# Covers JetBrains IntelliJ
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# idea folder
.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# End of https://www.gitignore.io/api/intellij